<template>
  <div>
    <HeaderMain :form="form" :test="test" :about="about"/>
    <WorkingHome/>
    <div class="about" ref="about">
      <About/>
    </div>
    <div class="form-test" ref="test">
      <test-form/>
    </div>
    <our-advantages/>
    <create-schedule/>
    <div class="form-footer" ref="form">
      <footer-form />
    </div>
    <footer-main/>
  </div>
</template>

<script>

import HeaderMain from '@/components/header'
import WorkingHome from '@/components/workingHome'
import About from '@/components/about'
import TestForm from '@/components/testForm'
import OurAdvantages from '@/components/ourAdvantages'
import CreateSchedule from '@/components/createSchedule'
import FooterForm from '../components/footerForm'
import FooterMain from '../components/footerMain'
export default {
  name: 'Home',
  metaInfo: {
    title: 'Работай с телефона! Стань стримером!',
    meta: [
      { vmid: 'Работа, стриминг, обучение с нуля, свободный график, карьерный рост, прибыльная работа, заработок, прибыль, высокооплачиваемая работа, развития, работа на дому, работа с телефона', property: 'Работа, стриминг, обучение с нуля, свободный график, карьерный рост, прибыльная работа, заработок, прибыль, высокооплачиваемая работа, развития, работа на дому, работа с телефона', content: 'Работай с телефона! Стань стримером!' },
      { vmid: 'Работай с телефона! Стань стримером!', property: 'Работай с телефона! Стань стримером!', content: 'Работай с телефона! Стань стримером!' },
      { vmid: 'Работа, стриминг, обучение с нуля, свободный график, карьерный рост, прибыльная работа, заработок, прибыль, высокооплачиваемая работа, развития, работа на дому, работа с телефона', property: 'Работа, стриминг, обучение с нуля, свободный график, карьерный рост, прибыльная работа, заработок, прибыль, высокооплачиваемая работа, развития, работа на дому, работа с телефона', content: 'Работай с телефона! Стань стримером!' }
    ]
  },
  data: () => ({
    form: '',
    test: '',
    about: ''
  }),
  components: { FooterMain, FooterForm, CreateSchedule, OurAdvantages, TestForm, About, WorkingHome, HeaderMain },
  mounted () {
    this.$nextTick(() => {
      this.form = this.$refs.form
    })
    this.$nextTick(() => {
      this.test = this.$refs.test
    })
    this.$nextTick(() => {
      this.about = this.$refs.about
    })
  }
}
</script>
<style>
.v-application p {
  margin: 0;
}
</style>
