<template>
  <div class="thank">
    <h1>Спасибо! В ближайшее время с Вами свяжется наш менеджер!</h1>
    <button @click.stop="redirect">Вернуться на главную</button>
  </div>
</template>

<script>
export default {
  name: 'ThankYou',
  methods: {
    redirect () {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
.thank {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thank > h1 {
  font-size: 34px;
  text-align: center;
}
.thank > button {
  width: 323px;
  color: white;
  background: #363df0;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px 0;
  cursor: pointer;
  margin-top: 30px;
}
@media screen and (max-width: 1200px) {
  .thank > h1 {
    font-size: 34px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .thank {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .thank > h1 {
    font-size: 20px;
    padding: 0 10px;
    text-align: center;
  }
}
</style>
