<template>
  <div class="about">
    <h3>О компании</h3>
    <div class="about-wrapper">
        <div class="about-left">
          <div class="about-left-figure">
            <img class = "img--cover" alt="Девушка с телефоном" src="@/assets/img/about-img.jpg" />
          </div>

        </div>
        <div class="about-right">
          <p>
            Мы являемся официальными партнерами большой социальной сети, у
            которой уже более 6-ти миллионов пользователей по всему миру!
          </p>
          <p>
            Работа заключается в использовании нашего приложения и общении с
            пользователями через видео-чат. Вам будет предоставлен куратор и
            бесплатное обучение.
          </p>
          <p>
            Мы предоставляем гибкий график работы и еженедельные выплаты на
            банковскую карту любого банка от 30$! Это новая программа, которая
            позволяет каждому зарабатывать без рисков и вложений.
          </p>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'about'
}
</script>

<style scoped>
.v-application p {
  margin: 0;
}
.img--cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  margin-top: 115px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 35px 0 60px 0;
}
.about-wrapper {
  padding: 0 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: 0 auto;
  display: flex;
}
.about > h3 {
  text-align: center;
  margin-bottom: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #253030;
}
.about-left {
  margin-right: 20px;
  flex: 0 1 50%;
  height: 100%;
}
.about-left-figure {
  position: relative;
  z-index: 2;
  height: 100%;
}
.about-left-figure::before {
  content: "";
  background-image: url("../assets/img/top-left-about.svg");
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -50px;
  width: 157px;
  height: 157px;
}
.about-left-figure::after {
  content: "";
  background-image: url("../assets/img/bottom-right-about.svg");
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 75px;
  width: 106px;
  height: 106px;
}
.about-left > img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.about-right {
  flex: 0 1 50%;
}
.about-right > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: #253030;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .about {
    margin-top: 36px;
    padding: 35px 0 60px 0;
  }
  .about-wrapper {
    padding: 0 10px;
    max-width: 920px;
    min-width: 920px;
    margin: 0 auto;
  }
  .about-left {
    margin-right: 20px;
    position: relative;
    z-index: 2;
  }
  .about-left-figure::before {
    content: "";
    background-image: url("../assets/img/top-left-about.svg");
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -50px;
    width: 157px;
    height: 157px;
  }
  .about-left-figure::after {
    content: "";
    background-image: url("../assets/img/bottom-right-about.svg");
    position: absolute;
    z-index: -1;
    bottom: -30px;
    right: 75px;
    width: 106px;
    height: 106px;
  }
  .about-right > p {
    font-size: 17px;
  }
}
@media screen and (max-width: 992px) {
  .about-right {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-right > p {
    font-size: 14px;
  }
  .about-wrapper {
    padding: 0 10px;
    max-width: 720px;
    min-width: 720px;
    margin: 0 auto;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-right {
    width: 100%;
    height: auto;
    order: -1;
    margin-bottom: 60px;
  }
  .about-left {
    flex: 0 1 100%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 750px) {
  .about-wrapper {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .about {
    margin-top: 15px;
    padding: 35px 30px 35px 30px;
    border-top: none;
    border-bottom: 1px solid rgba(95, 194, 194, 0.3);
  }
}
@media screen and (max-width: 540px) {
  .about-right {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .about h3 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .about-right > p {
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
  }
  .about-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-left-figure > img {
    width: 251px;
  }
  .about-left-figure::before {
    content: "";
    background-image: url("../assets/img/top-left-about.svg");
    position: absolute;
    z-index: -1;
    top: -25px;
    left: -25px;
    width: 74px;
    height: 74px;
  }
  .about-left-figure::after {
    content: "";
    background-image: url("../assets/img/bottom-right-about.svg");
    position: absolute;
    z-index: -1;
    bottom: -15px;
    right: 35px;
    width: 49px;
    height: 49px;
  }
}
</style>
