<template>
  <section class="schedule">
    <div class="schedule-wrapper">
      <div class="schedule-right">
        <img
          class="girl-bottom-left"
          alt="vector"
          src="@/assets/img/girlBottomLeft.svg"
        />
        <img class="schedule-girl" alt="Девушка" src="@/assets/img/girl.png" />
        <img
          class="girl-right-center-icon"
          alt="vector"
          src="@/assets/img/girlRightCenterIcon.svg"
        />
      </div>
      <div class="schedule-left">
        <h3>Создайте свой график работы</h3>
        <p>
          Работайте в удобное для Вас время! Построение индивидуального графика!
        </p>
        <br />
        <p>
          За годы опыта мы создали себе условия, которые много лет нам не могли
          предложить другие. Именно гибкость и свобода выбора графика работы
          стали нашим самым эффективным инструментом для достижения любой цели,
          источником стабильно растущего дохода и стремительно растущей надежной
          команды!
        </p>
        <template-form :type="'createSchedule'" />
      </div>
    </div>
  </section>
</template>

<script>
import TemplateForm from './templateForm'
export default {
  name: 'createSchedule',
  components: { TemplateForm }
}
</script>

<style scoped>
.schedule {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 70px;
}
.schedule-left > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: left;
  color: #253030;
  margin-bottom: 40px;
}
.schedule-left > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 155%;
  color: #253030;
}
.schedule-left > button {
  margin-top: 40px;
  background: #363df0;
  box-shadow: 0 0 15px rgba(54, 61, 240, 0.2);
  border-radius: 20px;
  padding: 9px 17px;
  color: white;
}
.schedule-wrapper {
  padding: 0 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: -7px auto;
  display: flex;
  justify-content: space-between;
}
.schedule-right {
  position: relative;
}
.schedule-girl {
  position: relative;
  z-index: 2;
}
.girl-bottom-left {
  position: absolute;
  bottom: 7px;
  z-index: 1;
}
.girl-right-center-icon {
  position: absolute;
  top: 25%;
  right: 14%;
}

@media screen and (max-width: 992px) {
  .schedule-wrapper {
    max-width: 720px;
    min-width: 720px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
  }
  .schedule-right {
    width: 537px;
    margin-bottom: 20px;
  }
  .schedule-left {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 750px) {
  .schedule-wrapper {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .schedule-right {
    width: 100%;
    margin-bottom: 0px;
  }
  .schedule-left {
    order: -1;
    padding: 0 32px;
  }
  .girl-bottom-left {
    width: 200px;
  }
  .girl-right-center-icon {
    width: 100px;
  }
  .schedule-girl {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .schedule {
    margin-bottom: 30px;
  }
  .schedule-left h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .schedule-left p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }
}
</style>
