<template>
  <section class="footer">
    <p>2021 - Golden Goddess</p>
  </section>
</template>

<script>
export default {
  name: 'footerMain'
}
</script>

<style scoped>
.footer {
  margin-top: 120px;
  border-top: 1px solid #e5e5e5;
}
.footer > p {
  text-align: center;
  padding: 25px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #253030;
}

@media screen and (max-width: 576px) {
  .footer {
    margin-top: 80px;
    border-top: 1px solid rgba(95, 194, 194, 0.6);
  }
}
</style>
