<template>
  <section class="advantages">
    <div class="advantages-wrapper">
      <p>Наши преимущества</p>
      <div class="advantages-wrapper-icons">
        <div class="advantages-icon">
          <img alt="Свободный график" src="@/assets/icons/Clock.svg" />
          <p>Свободный график</p>
        </div>
        <div class="advantages-icon">
          <img alt="Работать можно с телефона" src="@/assets/icons/phone.svg" />
          <p>Работать можно с телефона</p>
        </div>
        <div class="advantages-icon">
          <img alt="Обучение с нуля" src="@/assets/icons/student.svg" />
          <p>Обучение с нуля</p>
        </div>
        <div class="advantages-icon">
          <img alt="Карьерный рост" src="@/assets/icons/Career.svg" />
          <p>Карьерный рост</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ourAdvantages'
}
</script>

<style scoped>
.advantages {
  margin-top: 35px;
  background-color: #5fc2c2;
  padding: 45px 0;
  margin-bottom: 70px;
}
.advantages-wrapper {
  padding: 0 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: 0 auto;
}
.advantages-wrapper > p {
  text-align: center;
  color: white;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
}
.advantages-wrapper-icons {
  display: flex;
  justify-content: space-between;
}
.advantages-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-icon > img {
  width: 116px;
  height: 116px;
  color: white;
  margin-bottom: 30px;
}
.advantages-icon > p {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .advantages-wrapper {
    max-width: 950px;
    min-width: 950px;
  }
  .advantages-icon > img {
    width: 90px;
    height: 116px;
    color: white;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .advantages-wrapper {
    padding: 0 10px;
    max-width: 720px;
    min-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  .advantages-wrapper {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .advantages-wrapper-icons {
    flex-wrap: wrap;
  }
  .advantages-icon {
    flex: 0 1 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .advantages-wrapper-icons {
    flex-direction: column;
  }
  .advantages-icon {
    flex: 0 1 100%;
    margin-bottom: 20px;
  }
  .advantages {
    padding: 50px 0px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .advantages-wrapper p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .advantages-icon img {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
  }
  .advantages-icon {
    margin-bottom: 10px;
  }
}
</style>
