<template>
  <div class="text-left">
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <button
          v-if="type === 'workingHome'"
          class="button-get-сonsultation"
          v-bind="attrs"
          v-on="on"
        >
          Получить консультацию
        </button>
        <button
          v-else-if="type === 'createSchedule'"
          class="button-get-сonsultation mt-6"
          v-bind="attrs"
          v-on="on"
        >
          Пройти собеседование
        </button>
      </template>

      <v-card>
        <v-card-text>
          <form @submit.prevent="sendForm" class="form-footer">
            <div class="form-footer-wrapper">
              <p>Как Вас зовут?</p>
              <input v-model.trim="form.name" placeholder="Введите имя" />
              <p v-if="errorName" class="error--text">{{ errorName }}</p>
              <p>Выберите удобный способ связи</p>
              <v-radio-group
                column
                class="radio-group-wrapper"
                v-model="form.social"
              >
                <div class="form-group-radio">
                  <v-radio label="WhatsApp" color="#5FC2C2" value="WhatsApp" />
                  <v-radio label="Telegram" color="#5FC2C2" value="telegram" />
                </div>
              </v-radio-group>
              <p v-if="errorSocial" class="error--text">{{ errorSocial }}</p>
              <p>Введите номер телефона</p>
              <input v-model.trim="form.number" placeholder="Введите номер" />
              <p v-if="errorNumber" class="error--text">{{ errorNumber }}</p>
              <button type="submit">Отправить данные</button>
            </div>
          </form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false"> Отмена </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['type'],
  name: 'templateForm',
  data: () => ({
    dialog: false,
    form: {
      name: '',
      social: '',
      number: '',
      schedule: 'Пройти собеседование',
      workingHome: 'Получить консультацию'
    },
    errorName: '',
    errorSocial: '',
    errorNumber: ''
  }),
  methods: {
    sendForm () {
      if (!this.form.name.length > 0) {
        this.errorName = '* поле не должно быть пустым'
      } else if (Number(this.form.name)) {
        this.errorName = '* поле должно содержать буквы'
      } else if (this.form.social === '') {
        this.errorSocial = '* выберите одно из значений'
      } else if (!this.form.number.length > 0) {
        this.errorNumber = '* поле не должно быть пустым'
      } else if (!Number(this.form.number)) {
        this.errorNumber = '* поле должно содержать цифры'
      } else {
        const dataForm = {
          name: this.form.name,
          social: this.form.social,
          number: this.form.number,
          type: this.typeSelect
        }
        console.log('dataForm', dataForm)
        const body = {}
        body.innerHTML = '<strong>Данные с формы: </strong><br><br>' + `Имя: ${dataForm.name}` +
          '<br>' + `Удобный способ связи: ${dataForm.social}` +
          '<br>' + `Номер телефона: ${dataForm.number}`

        this.$loadScript('https://smtpjs.com/v3/smtp.js')
          .then(() => {
            window.Email && window.Email.send({
              SecureToken: '7fe696ec-919d-4228-8157-74f9aad7ba71',
              To: 'golden2020goddess@gmail.com',
              From: 'goldengoddess370@gmail.com',
              Subject: `Заявка с сайта Golden Goddess с формы "${dataForm.type}"`,
              Body: body.innerHTML
            }).then(
              this.$router.push('/thank')
            ).catch(error => {
              console.log('Что-то пошло не так', error)
            })
          }).catch(error => {
            console.log('Что-то пошло не так', error)
          })
      }
    }
  },
  computed: {
    typeSelect () {
      if (this.type === 'createSchedule') {
        return this.form.schedule
      } else {
        return this.form.workingHome
      }
    },
    name () {
      return this.form.name
    },
    validateName () {
      return this.form.name
    },
    social () {
      return this.form.social
    },
    number () {
      return this.form.number
    },
    validateNumber () {
      return this.form.number
    }
  },
  watch: {
    name (val) {
      if (val !== '') {
        this.errorName = ''
      } else {
        this.errorName = '* поле не должно быть пустым'
      }
    },
    validateName (val) {
      if (Number(val)) {
        this.errorName = '* поле должно содержать только буквы'
      } else {
        this.errorName = ''
      }
    },
    social (val) {
      if (val !== '') {
        this.errorSocial = ''
      } else {
        this.errorSocial = '* выберите одно из значений'
      }
    },
    number (val) {
      if (val !== '') {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле не должно быть пустым'
      }
    },
    validateNumber (val) {
      if (Number(val)) {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле должно содержать цифры'
      }
    }
  }
}
</script>

<style scoped>
.button-get-сonsultation {
  background: #363df0;
  box-shadow: 0 0 15px rgba(54, 61, 240, 0.2);
  border-radius: 20px;
  color: white;
  padding: 9px 11px 9px 11px;
}
.form-footer-wrapper > p {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #253030;
}
.form-footer-wrapper > input {
  width: 323px;
  margin-bottom: 15px;
  background: #ffffff;
  border: 1px solid rgba(95, 194, 194, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px 0 9px 30px;
}
.form-footer-wrapper > input:focus {
  outline: none;
}
.form-footer-wrapper > button {
  width: 323px;
  color: white;
  background: #363df0;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px 0;
  cursor: pointer;
}
.form-group-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-footer-wrapper {
  margin: 0 auto;
  width: 300px;
  padding-top: 30px;
}
.error--text {
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .form-footer {
    width: 100%;
    padding: 25px 0px;
  }
  .form-footer-wrapper input {
    width: 90%;
  }
  .form-footer-wrapper {
    width: 100%;
  }
  button {
    width: 100% !important;
  }
  .button-get-сonsultation {
    padding: 15.5px 11px;
    font-size: 18px;
    font-weight: bold;
  }
}
</style>
