<template>
  <section class="test-form">
    <h3>Пройдите небольшой тест, чтобы рассчитать свою заработную плату</h3>
    <div class="test-form-wrapper">
      <img alt="vector" class="first-left-img" src="@/assets/img/leftIconForm.svg" />
      <img alt="vector" class="last-left-img" src="@/assets/img/lefttopIcon.svg" />
      <img alt="vector" class="first-right-img" src="@/assets/img/rightOnFormIcon.svg" />
      <img alt="vector" class="last-right-img" src="@/assets/img/rightBefore.svg" />
      <form v-if="selectForm === 1" class="form-test">
        <p>1. Сколько часов в день вы готовы уделять работе?</p>
        <v-radio-group v-model="form.hour" column class="radio-group-wrapper">
          <div class="form-group-radio">
            <div>
              <v-radio label="2" color="#5FC2C2" value="2" />
              <v-radio label="3" color="#5FC2C2" class="mt-4" value="3" />
              <v-radio label="6" color="#5FC2C2" class="mt-4" value="6" />
            </div>
            <div>
              <v-radio label="8" color="#5FC2C2" value="8" />
              <v-radio label="10" color="#5FC2C2" class="mt-4" value="10" />
              <v-radio label="12" color="#5FC2C2" class="mt-4" value="12" />
            </div>
          </div>
        </v-radio-group>
        <p v-if="errorHour" class="error--text">{{ errorHour }}</p>
        <div class="form-button">
          <button @click="buttonSendHour(form.hour)" type="button">
            Следующий вопрос
          </button>
        </div>
      </form>
      <form v-else-if="selectForm === 2" class="form-test">
        <p>2. Укажите Ваш пол</p>
        <v-radio-group v-model="form.gender" column class="radio-group-wrapper">
          <div class="form-group-radio">
            <div>
              <v-radio label="Мужской" color="#5FC2C2" value="Мужской" />
              <v-radio
                label="Женский"
                color="#5FC2C2"
                class="mt-4"
                value="Женский"
              />
            </div>
          </div>
        </v-radio-group>
        <p v-if="errorGender" class="error--text">{{ errorGender }}</p>
        <div class="form-button">
          <button @click="buttonSendGender(form.gender)" type="button">
            Следующий вопрос
          </button>
        </div>
      </form>
      <form v-else-if="selectForm === 3" class="form-test">
        <p>3. Какая у Вас операционная система на телефоне?</p>
        <v-radio-group v-model="form.system" column class="radio-group-wrapper">
          <div class="form-group-radio">
            <div>
              <v-radio label="IOS" color="#5FC2C2" value="IOS" />
              <v-radio
                label="Android"
                color="#5FC2C2"
                class="mt-4"
                value="Android"
              />
            </div>
          </div>
        </v-radio-group>
        <p v-if="errorSystem" class="error--text">{{ errorSystem }}</p>
        <div class="form-button">
          <button @click="buttonSendSystem(form.system)" type="button">
            Следующий вопрос
          </button>
        </div>
      </form>
      <form v-else-if="selectForm === 4" class="form-test">
        <p>4. Укажите свой возраст</p>
        <input
          class="mt-5 mb-5"
          v-model="form.age"
          placeholder="Введите цифру"
        />
        <p v-if="errorAge" class="error--text">{{ errorAge }}</p>
        <div class="form-button">
          <button @click="buttonSendAge(form.age)" type="button">
            Следующий вопрос
          </button>
        </div>
      </form>
      <form v-else-if="selectForm === 5" class="form-test">
        <p>5. В какой стране Вы проживаете?</p>
        <input
          class="mt-5 mb-5"
          v-model="form.country"
          placeholder="Введите страну"
        />
        <p v-if="errorCountry" class="error--text">{{ errorCountry }}</p>
        <div class="form-button">
          <button @click="buttonSendCountry(form.country)" type="button">
            Получить рассчет
          </button>
        </div>
      </form>
      <form
        @submit.prevent="sendForm"
        v-else-if="selectForm === 6"
        class="form-test"
      >
        <p>Куда Вам отправить результат?</p>
        <span class="select-communication">Выберите удобный способ связи</span>
        <v-radio-group v-model="form.social" column class="radio-group-wrapper">
          <div class="form-group-radio" style="width: 334px; margin: 0 auto">
            <v-radio label="WhatsApp" color="#5FC2C2" value="WhatsApp" />
            <v-radio label="Telegram" color="#5FC2C2" value="Telegram" />
          </div>
        </v-radio-group>
        <p v-if="errorSocial" class="error--text">{{ errorSocial }}</p>
        <input v-model="form.number" placeholder="Введите номер телефона" />
        <p v-if="errorNumber" class="error--text mt-2">{{ errorNumber }}</p>
        <p class="select-email">Укажите Вашу почту</p>
        <input v-model="form.email" placeholder="Email" />
        <p v-if="errorEmail" class="error--text mt-2">{{ errorEmail }}</p>
        <div class="form-button">
          <button class="mt-2" type="submit">Отправить данные</button>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  name: 'testForm',
  data: () => ({
    dataObject: '',
    form: {
      hour: '',
      gender: '',
      system: '',
      age: '',
      country: '',
      social: '',
      number: '',
      email: '',
      type: 'Тест'
    },
    selectForm: 1,
    errorHour: '',
    errorGender: '',
    errorSystem: '',
    errorAge: '',
    errorCountry: '',
    errorTelephone: '',
    errorNumber: '',
    errorEmail: '',
    errorSocial: ''
  }),
  methods: {
    buttonSendHour (hour) {
      if (!hour.length > 0) {
        this.errorHour = '* выберите одно из значений'
        this.selectForm = 1
      } else {
        this.form.hour = hour
        this.selectForm = 2
        console.log(this.form)
      }
    },
    buttonSendGender (gender) {
      if (!gender.length > 0) {
        this.errorGender = '* выберите одно из значений'
        this.selectForm = 2
      } else {
        this.form.gender = gender
        this.selectForm = 3
        console.log(this.form)
      }
    },
    buttonSendSystem (system) {
      if (!system.length > 0) {
        this.errorSystem = '* выберите одно из значений'
        this.selectForm = 3
      } else {
        this.form.system = system
        this.selectForm = 4
        console.log(this.form)
      }
    },
    buttonSendAge (age) {
      console.log(age)
      if (!age.length > 0) {
        this.errorAge = '* поле не должно быть пустым'
        this.selectForm = 4
      } else {
        this.form.age = age
        this.selectForm = 5
        console.log(this.form)
      }
    },
    buttonSendCountry (country) {
      if (!country.length > 0) {
        this.errorCountry = '* поле не должно быть пустым'
        this.selectForm = 5
      } else {
        this.form.country = country
        this.selectForm = 6
        console.log(this.form)
      }
    },
    sendForm () {
      if (!this.form.social.length > 0) {
        this.errorSocial = '* выберите одно из значений'
      } else if (!this.form.number.length > 0) {
        this.errorNumber = '* поле не должно быть пустым'
      } else if (!this.form.email.length > 0) {
        this.errorEmail = '* поле не должно быть пустым'
      } else {
        const dataForm = {
          hour: this.form.hour,
          gender: this.form.gender,
          system: this.form.system,
          age: this.form.age,
          country: this.form.country,
          social: this.form.social,
          number: this.form.number,
          email: this.form.email,
          type: this.form.type
        }
        console.log('dataForm', dataForm)
        const body = {}
        body.innerHTML = '<strong>Данные c формы: </strong><br><br>' + `Сколько часов в день вы готовы уделять работе: ${dataForm.hour} ч` +
          '<br>' + `Мой пол: ${dataForm.gender}` +
          '<br>' + `Операционная система: ${dataForm.system}` +
          '<br>' + `Мой возраст: ${dataForm.age}` +
          '<br>' + `Страна проживания: ${dataForm.country}` +
          '<br>' + `Удобный способ связи: ${dataForm.social}` +
          '<br>' + `Номер телефона: ${dataForm.number}` +
          '<br>' + `Эл.почта: ${dataForm.email}`

        this.$loadScript('https://smtpjs.com/v3/smtp.js')
          .then(() => {
            window.Email && window.Email.send({
              SecureToken: '7fe696ec-919d-4228-8157-74f9aad7ba71',
              To: 'golden2020goddess@gmail.com',
              From: 'goldengoddess370@gmail.com',
              Subject: `Заявка с сайта Golden Goddess с формы "${dataForm.type}"`,
              Body: body.innerHTML
            }).then(
              this.$router.push('/thank')
            ).catch(error => {
              console.log('Что-то пошло не так', error)
            })
          }).catch(error => {
            console.log('Что-то пошло не так', error)
          })
      }
    },
    validEmail: function (email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    }
  },
  computed: {
    hour () {
      return this.form.hour
    },
    gender () {
      return this.form.gender
    },
    system () {
      return this.form.system
    },
    age () {
      return this.form.age
    },
    validAge () {
      return this.form.age
    },
    country () {
      return this.form.country
    },
    validCountry () {
      return this.form.country
    },
    social () {
      return this.form.social
    },
    number () {
      return this.form.number
    },
    validNumber () {
      return this.form.number
    },
    email () {
      return this.form.email
    },
    emailValid () {
      return this.form.email
    }
  },
  watch: {
    hour (val) {
      if (val !== '') {
        this.errorHour = ''
      } else {
        this.errorHour = '* выберите одно из значений'
      }
    },
    gender (val) {
      if (val !== '') {
        this.errorGender = ''
      } else {
        this.errorGender = '* выберите одно из значений'
      }
    },
    social (val) {
      if (val !== '') {
        this.errorSocial = ''
      } else {
        this.errorSocial = '* выберите одно из значений'
      }
    },
    system (val) {
      if (val !== '') {
        this.errorSystem = ''
      } else {
        this.errorSystem = '* выберите одно из значений'
      }
    },
    age (val) {
      if (val !== '') {
        this.errorAge = ''
      } else {
        this.errorAge = '* поле не должно быть пустым'
      }
    },
    validAge (val) {
      if (Number(val)) {
        this.errorAge = ''
      } else {
        this.errorAge = '* поле должно содержать только цифры'
      }
    },
    country (val) {
      if (val !== '') {
        this.errorCountry = ''
      } else {
        this.errorCountry = '* поле не должно быть пустым'
      }
    },
    validCountry (val) {
      if (!Number(val)) {
        this.errorCountry = ''
      } else {
        this.errorCountry = '* поле должно содержать только текст'
      }
    },
    number (val) {
      if (val !== '') {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле не должно быть пустым'
      }
    },
    validNumber (val) {
      if (Number(val)) {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле должно содержать только цифры'
      }
    },
    email (val) {
      if (val !== '') {
        this.errorEmail = ''
      } else {
        this.errorEmail = '* поле не должно быть пустым'
      }
    },
    emailValid (val) {
      if (!this.validEmail(val)) {
        this.errorEmail = '* укажите корректный адрес электронной почты.'
      } else {
        this.errorEmail = ''
      }
    }
  }
}
</script>
<!-- test-->
<style scoped>
.test-form {
  padding: 55px 0;
}
.test-form-wrapper {
  padding: 0 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: 0 auto;
  position: relative;
}
.test-form-wrapper > img {
  position: absolute;
}
.last-left-img {
  top: -15px;
  left: 25%;
}
.first-left-img {
  left: -42px;
  top: 50px;
}
.first-right-img {
  right: 25%;
  top: 30%;
}
.last-right-img {
  bottom: -21px;
  right: 0;
}
.test-form > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #253030;
  margin-bottom: 58px;
}
.form-test {
  background: #ffffff;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px 0;
  width: 512px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.form-test > input {
  width: 253px;
  background: #ffffff;
  border: 1px solid rgba(95, 194, 194, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px 0 9px 30px;
  margin: 0 auto;
  display: flex;
}
.form-test > input:focus {
  outline: none;
}
.form-test > p {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  color: #253030;
}
.select-communication {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #253030;
  margin-top: 15px;
  display: block;
}
.form-group-radio {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.form-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.form-button > button {
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: white;
  background: #363df0;
  padding: 9px 35px 9px 35px;
}
.radio-group-wrapper {
  display: flex;
}
.select-email {
  margin: 20px 0 10px 0;
}
.error--text {
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .test-form-wrapper {
    padding: 0 10px;
    max-width: 720px;
    min-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  .test-form-wrapper {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .first-left-img,
  .first-right-img,
  .last-left-img,
  .last-right-img {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .form-test {
    width: 100%;
    padding: 25px 10px;
  }
  .form-group-radio {
    width: 100% !important;
  }
  .test-form {
    padding: 50px 0 50px 0;
  }
  .test-form h3 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    padding: 0px 30px;
  }
  .form-button > button {
    height: 55px;
  }
}
</style>
