<template>
  <section class="working-vh">
    <div class="working">
      <div class="working-wrapper">
        <div class="working-left">
          <h1>Работай из дома! Стань стримером!</h1>
          <div class="working-left-hidden">
            <img
              alt="Наушники"
              class="working-right-headphones"
              src="@/assets/img/headphones.svg"
            />
          </div>
          <ul>
            <li>Бесплатное обучение</li>
            <li>Гарантия заработка и еженедельные выплаты</li>
            <li>Личный куратор и помощь в развитии</li>
            <li>Без рисков и вложений</li>
            <template-form :type="'workingHome'" />
          </ul>
        </div>
        <div class="working-right">
          <img
            alt="vector"
            class="working-right-background"
            src="@/assets/img/vector-first-section.png"
          />
          <img
            alt="Наушники"
            class="working-right-headphones"
            src="@/assets/img/headphones.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import TemplateForm from './templateForm'
export default {
  name: 'workingHome',
  components: { TemplateForm }
}
</script>

<style scoped>
.working {
  margin-top: 70px;
  background-color: #5fc2c2;
}
.working-left-hidden {
  display: none;
}
.working-wrapper {
  padding: 40px 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.working-left > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 40px;
}
.working-left > ul > li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 18px;
}
.working-left > ul > li:nth-child(4) {
  margin-bottom: 40px;
}
.working-right-headphones {
  position: absolute;
  top: -91px;
  right: 10px;
  z-index: 2;
  width: 570px;
  height: 570px;
}
.working-right-background {
  top: -26px;
  right: -17px;
  position: absolute;
  z-index: 1;
  width: 420px;
  height: 420px;
}
@media screen and (max-width: 1200px) {
  .working {
    margin-top: 18px;
  }
  .working-wrapper {
    max-width: 950px;
    min-width: 950px;
  }
  .working-right-headphones {
    position: absolute;
    top: -80px;
    right: -12px;
    width: 511px;
    height: 511px;
  }
  .working-right-background {
    top: -12px;
    right: -5px;
    width: 360px;
    height: 360px;
  }
  .working-vh {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .working-wrapper {
    max-width: 720px;
    min-width: 720px;
    margin: 0 auto;
    padding: 40px 10px;
  }
  .working-right-headphones {
    position: absolute;
    top: -17px;
    right: -12px;
    width: 400px;
    height: 400px;
  }
  .working-right-background {
    top: -9px;
    right: -5px;
    width: 340px;
    height: 378px;
  }
  .working-vh {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .working-left > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 750px) {
  .working-right {
    display: none;
  }
  .working-left-hidden {
    display: block;
  }
  .working-vh {
    height: auto;
  }
  .working-wrapper {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
  }
  .working-right-background {
    display: none;
  }
  .working-right-headphones {
    position: relative;
    top: 0px;
    width: 320px;
    height: 320px;
  }
  .working-left ul {
    margin-bottom: 20px;
  }
  .working-left > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .working-right-headphones {
    width: 287px;
    height: 291px;
  }
  .working {
    margin-top: 0px;
  }
  .working-vh {
    height: auto;
  }
  .working-left ul > li {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 15px;
  }
  .working-left > ul > li[data-v-319a7c60]:nth-child(4) {
    margin-bottom: 25px;
  }
}
</style>
